<div *ngFor="let product of listProducts | paginate: { id: 'CONTENT_ID', itemsPerPage: 10, currentPage: page, totalItems: totalItems }">
    <app-product-card [product]="product" [isChartLoading]="isChartLoading"></app-product-card>
</div>
<div *ngIf="listProducts.length > 0" class="row my-4">
  <div class="col-md-12">
     <div *ngIf="!isLoading">
        <pagination-controls 
          id="CONTENT_ID"
          (pageChange)='getPage($event)' 
          previousLabel='Anterior' 
          nextLabel='Siguiente'>
        </pagination-controls> 
    </div>  
  </div>
</div>