<div class="card w-100 p-2">
    <strong>Filtros:</strong>
    <div class="card my-2">
      <div class="card-header">
        <strong class="text-primary-app">Filtrar por marca</strong>
      </div>
      <div class="card-body card-brand-scrollable">
        <div *ngFor="let brand of listBrands">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [value]="brand.id" [id]="'brandCheckbox'+brand.id" (change)="brandCheckbox(brand.id)" [checked]="selectedBrands.includes(brand.id)">
            <label class="form-check-label" [for]="'brandCheckbox'+brand.id">
              {{brand.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="page!=='store'" class="card my-2">
      <div class="card-header">
        <strong class="text-primary-app">Filtrar por tienda</strong>
      </div>
      <div class="card-body card-brand-scrollable">
        <div *ngFor="let store of listStores">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [value]="store.id" [id]="'storeCheckbox'+store.id" (change)="storeCheckbox(store.id)" [checked]="selectedStores.includes(store.id)">
            <label class="form-check-label" [for]="'storeCheckbox'+store.id">
              {{store.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="page!=='category'" class="card my-2">
        <div class="card-header">
          <strong class="text-primary-app">Filtrar por categor&iacute;a</strong>
        </div>
        <div class="card-body card-brand-scrollable">
          <div *ngFor="let category of listCategories">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [value]="category.id" [id]="'categoryCheckbox'+category.id" (change)="categoryCheckbox(category.id)" [checked]="selectedCategories.includes(category.id)">
              <label class="form-check-label" [for]="'categoryCheckbox'+category.id">
                {{category.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
    <button class="btn btn-outline-dark mt-2" (click)="filter()">Filtrar</button>
    <button class="btn btn-outline-secondary mt-1" (click)="resetFilters()">Limpiar</button>
    <hr>
  </div>
